img {
  position: static;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  vertical-align: middle;
}

b {
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  position: static;
  color: white;
}
